In [ ]:
# Numpy tasks
import numpy as np
import random
matrix=np.random.randint(1,9,(3,3))
print(matrix)
print(type(matrix))
count=0
for rows in matrix:
    count+=1
    print("row:",count)
    print(rows)

In [ ]:
# extracting even numbers from numpy array
numbers=np.random.randint(10,20,(5))
numbers=np.sort(numbers)
print(numbers)
print(type(numbers))

for number in numbers:
    if number%2==0:
        print(number)

In [ ]:
# replacing odd number with -1
print(numbers)
for i in range(len(numbers)):
    if numbers[i]%2!=0:
        numbers[i]=-1
print(numbers)

In [ ]:
# sum of elements in numpy array
n=np.random.randint(10,20,(5))
print(n)
sum=0
for i in range(len(n)):
    sum+=n[i]
print(f"sum is: {sum}")

In [ ]:
matrix=np.random.randint(1,9,(3,3))
print(matrix)
arr=matrix.flatten()
print(arr)

In [ ]:
# task to be done using pandas

In [ ]:
import pandas as pd
dataframe=pd.DataFrame({'Name':['Ram','Rita','Hari'], 'Address':['ktm','btm','bkt']})
df=dataframe
print(dataframe)
print(type(dataframe))
dataframe['age']=30
print(dataframe)

dataframe=dataframe.drop(columns=['age']) #to remove the column
print('................................')
print(dataframe)

df=df.drop(index=1) #to remove the row
print('...............................')
print(df)

# renaming the column name of df
df=df.rename(columns={'Name':'name','Address':'place'})
print('......................')
print(df)

In [ ]:
# playing withdataset from kaggle

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("pandaCSV/short.csv")
df['new']='ashes'
df['abc']=112
df=df.rename(columns={'thickness':'thick','adhesion':'what?','nuclei':'bomb'})
print(df.head)

In [ ]:
# printing the summary of above dataframe
print(df.describe())

In [ ]:
# creating a new null data column with null value, finding it and replacing

In [ ]:
df['fornull']=None
# print(df.isnull)
print(df.isnull().sum())  
df.fillna('zero', inplace=True)
print(df)

In [ ]:
# using matplotlib

In [ ]:
# create various chart using any dataset from kaggle

In [ ]:
# numpy: high dimension matrix load garna.
# pandas: dataset load garna. add del modify columns and rows of dataset
# matplotlib: used for data visualization. chart graphs etc ko rup ma